html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black !important;
  color: white !important;
}

h1 {
  float: left;
}
h1,
h2,
h3,
.logo {
  letter-spacing: 1px;
  font-family: "Fjalla One", cursive;
  margin: 15px 10px 15px 15px;
}

.logo {
  width: 50px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border: 2px solid aqua;
  background-color: transparent !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#edit-player-form {
  display: none;
}

#add-player-form {
  display: none;
}

#card-group {
  background-color: #1a1a1a;
  color: #334699;
}
/* media queries */
@media (max-width: 992px) {
  #card-group {
    background-color: #334699;
    color: #1a1a1a;
  }
}

@media (max-width: 768px) {
  #card-group {
    font-weight: bold;
    color: red;
    background-color: #d3d3d3;
  }
}
